<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}/events/bicycle-registration" title="Rise and Grind" class="post-teaser">
    <img src="{{ site.url }}/images/bw-bikes-banner.jpg" alt="teaser" itemprop="image">
  </a>

  <p class="entry-date date published">
    Third Saturday of every month
  </p>

  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}/events/bicycle-registration">Bicycle Registration</a></h2>
  <p class="post-excerpt" itemprop="description">FREE bicycle registration for you, your family, and friends!</p>
</article>

