<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}/events/rise-and-grind" title="Rise and Grind" class="post-teaser">
    <img src="{{ site.url }}/images/rise-and-grind-banner.jpg" alt="teaser" itemprop="image">
  </a>

  <p class="entry-date date published">
    Every Friday morning
  </p>

  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}/events/rise-and-grind">Rise and Grind</a></h2>
  <p class="post-excerpt" itemprop="description">Arrive when you can, leave when you have to.</p>
</article>

