---
layout: default
---

<div id="main" role="main">
  <article class="wrap" itemscope itemtype="http://schema.org/Article">
    {% if page.image.feature %}
      <div class="page-feature">
      <div class="page-image">
        <img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
        {% if page.image.credit %}{% include image-credit.html %}{% endif %}
      </div><!-- /.page-image -->
    </div><!-- /.page-feature -->
  {% endif %}
    {% include breadcrumbs.html %}
    <div class="page-title">
      {% if page.skip-title != true %}
        <h1>{{ page.title }}</h1>
      {% endif %}
    </div>
    <div class="inner-wrap">
      <div id="content" class="page-content" itemprop="articleBody">
        {{ content }}

        <div>
        {% if page.plasso-event %}
          <a href="https://plasso.com/s/{{page.plasso-event}}" class="btn-success plo-button">
            Buy a ticket
          </a>
          <script src="https://plasso.com/embed/storefront.1.0.js"></script>
        {% endif %}

        {% if page.facebook-event %}
          <a class="btn-social facebook" href="https://www.facebook.com/events/{{page.facebook-event}}/">
            Join on Facebook
          </a>
        {% endif %}

        {% if page.register-here %}
          <a class="btn-social" href="{{page.register-here}}">
            Register here
          </a>
        {% endif %}
        <div>

      </div><!-- /.content -->
    </div><!-- /.inner-wrap -->
  </article><!-- ./wrap -->
</div><!-- /#main -->
