---
layout: home
permalink: /events/
share: false
---

<h2>Phoenix Spokes People present</h2>

<div class="tiles">
  {% for post in site.categories.events reversed %}
    {% include post-grid.html %}
{% endfor %}
</div>

<div style="clear: both;">
  <b>Every Friday morning</b> we'd love for you to join us at:
  <ul>
    <li>
    <a href="https://www.facebook.com/PhoenixSpokesPeople/events">Bike Friendly Friday Ride to Work</a>,
    which meets at
    <a href="http://www.shortleashhotdogs.com/locations">Rollover Doughnuts</a> at 7 a.m.
    </br>
    Enjoy some coffee and treats before heading downtown at about 7:30. The route is 2.4 miles along the [5th Avenue Sonoran Bikeway, ending at City Hall](https://goo.gl/maps/KFeDWRWET392).
    </br>
    There's a
    <a href="http://www.gridbikes.com">Grid Bike Share</a>
    station out in front and the light rail stop is Central and Encanto.
    </li>
  </ul>

</div>
<div style="clear: both;">

  <h2>You might also like</h2>

  <p>
  There's plenty more bike fun going on in Phoenix.
  <br/>
  Here are other events Phoenix Spokes People recommend:
  </p>


  <b>Every Monday evening</b> you can join:
  <ul>
    <li>
    <a href="http://downtempo.bike">Phoenix Downtempo Ride</a>,
    a shorter, relaxed, and social ride which stop at a bar, and usually ends at Motown on Mondays.
    </li>
    <li>
    <a href="https://www.facebook.com/StateBicycle/events">Loops PHX</a>,
    hosted by State Bicycle Co. All bikes welcome, fixed encouraged. They make 1-3 stops and ride 10-20 miles.
    </li>
  </ul>

  <b>Every Thursday evening</b> you can join:
  <ul>
    <li>
    <a href="https://www.facebook.com/groups/1454638718172885/">WTF Phoenix Ride</a>,
    a ride for any women, trans*, femme, and gender non-conforming folks!
    No <a href="https://en.wikipedia.org/wiki/Cisgender">CIS guys</a>.
    </li>
  </ul>

  The <b>Last Friday of the month</b> is:
  <ul>
    <li>
    <a href="https://www.facebook.com/criticalmassphx">Critical Mass Phoenix</a>,
    a bicycle celebration ride to raise awareness about bicycles being on the road and cars sharing the road.
    </li>
  </ul>
</div>
