---
layout: home
permalink: /events/
share: false
---

<h2>Phoenix Spokes People present</h2>

<div class="tiles">
  {% include event-rise-and-grind.html %}
  {% for event in site.events %}
    {% include event-summary.html %}
  {% endfor %}
</div>

<div style="clear: both;">

  <h2>You might also like</h2>

  <p>
  There's plenty more bike fun going on in Phoenix.
  <br/>
  Here are other events Phoenix Spokes People recommend:
  </p>


  <b>Every Monday evening</b> you can join:
  <ul>
    <li>
    <a href="http://downtempo.bike">Phoenix Downtempo Ride</a>,
    a shorter, relaxed, and social ride which meets at the park and then rides to local bars.
    </li>
    <li>
    <a href="https://www.facebook.com/StateBicycle/events">Loops PHX</a>,
    hosted by State Bicycle Co. All bikes welcome, fixed encouraged. They make 1-3 stops and ride 10-20 miles.
    </li>
  </ul>

  <b>Every Thursday evening</b> you can join:
  <ul>
    <li>
    <a href="https://www.facebook.com/groups/1454638718172885/">WTF Phoenix Ride</a>,
    a ride for any women, trans*, femme, and gender non-conforming folks!
    No <a href="https://en.wikipedia.org/wiki/Cisgender">CIS guys</a>.
    </li>
  </ul>

  The <b>Last Friday of the month</b> is:
  <ul>
    <li>
    <a href="https://www.facebook.com/criticalmasstempe/">Critical Mass</a>,
    a bicycle celebration ride to raise awareness about bicycles being on the road and cars sharing the road.
    </li>
  </ul>
</div>

<div style="clear: both;">
  <h2>If that's still not enough</h2>
  <ul>
    <li>
    Our friends at <b>Bike That AZ Up</b> maintain <a href="http://bikethatazup.com/calendar/">an extremely comprehensive calendar</a>, be sure to check them out!
    </li>
  </ul>
</div>
